<%= form_with model:@category, url: categories_path do |f| %>
    <%= section class="container" %>
      <div>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.name_field :fullname, autofocus: true, autocomplete: "fullname", placeholder:'Name' %>
  </div>
  
    
    <div class="field">
      <%= f.label :icon %><br />
      <%= f.email_field :icon, autofocus: true, autocomplete: "email", placeholder: "Icon url"%>
    </div>
  
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  </div>
  </section>
  <% end %>