<section class="categories_div">
<div class="category_info">
<div class="desc_container"><h1 class="text_descategory">Category</h1></div>
<div>
<strong class="category_name"><%= current_user.name %></strong><div class="link_categr"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'%></div>
</div>
</div>
<div class="container_div">
<% @categories.each do |category|%>
      <div class="image_info">
        <div class="imag_div">
          <%= image_tag category.icon,  :alt => 'category-logo', class: "img" %>
        </div>

        <div class="info_container">
            <h1 class="text_categories">
            <%= link_to category.name, category_expenses_path(category)%></h1>
            <p class="text_time"> <%= time_ago_in_words category.created_at%> ago</p>
        </div>
            
            <div class="time_info">
            <h3 class="textcat">$ <%= @total[category.id]%></h3>
          </div>
        
        </div>
    <% end %>
  </div> 

  <div class="link">
    <%= link_to 'Add Category', new_category_path, class: 'link_path'%>
  </div> 
</section>
