<div>
  <%= form_with model: @expenses, url: category_expenses_path do |f| %>
  <section class="section_div">
    <div class="form_div">
      <div class="info_div">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name',class:"text_info"
          %>
        </div>
        <div class="info_div">
          <%= f.number_field :amount, autofocus: true, autocomplete: "amount", placeholder: 'Amount',class:"text_info"
          %>
        </div>

        <div class="info_div">
      <%= f.collection_check_boxes(:category_ids, Category.where(user_id: current_user), :id, :name, {}, {:multiple => true, class: "text_info" }) %>
      </div>

        <div class="info_div">
          <%= f.submit "Save", class:"btn"
          %>
        </div>
    </div>
   </section>
<% end %>
</div>
